a
{
    color: #263d5c;
    text-decoration: none;
}

body
{
    background-color: #f2f2f2;
    color: #263d5c;
	font-family: 'Poppins', sans-serif;
    font-kerning: none;
    margin: 0px;
    padding: 0px;
}

button
{
    border: 2px solid #263d5c;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    width: 25%
}

.button-blue
{
    background-color:#263d5c;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #f2f2f2;
    margin-bottom: 7px;
    margin-top: 4px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
}

.content
{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 75%;
}

.content-center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.footer-bottom
{
    background-color: #263d5c;
    color: #f2f2f2;
    padding: 10px;
}

.footer-top
{
    background-color: #bfbfbf;
    color: #4c4f4c;
    display: grid;
    font-size: 12px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.footer-top-left
{
    
}

.footer-top-right
{
    text-align: right;
}

.glue-bottom
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.headline
{
    text-align: center;
}

.li-TH
{
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #263d5c;
    list-style-type: none;
}

.navbar-button
{
    padding: 5px;
    padding-top: 10px;
    text-align: center;
}

.navbar-link
{
    width: 33%;
}

.register-form
{
    background-color: #263d5c;
    border: 2px solid #000000;
    border-radius: 7px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 70%;
}

.register-button
{
    margin-top: 5px;
    width: 100%;
}

.register-input
{
    border: 2px solid #263d5c;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 97%;
}

.section
{   
    padding-bottom: 10px;
    padding-top: 5px;
}

.section-dark
{
    background-color: #263d5c;
    color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 5px;
}

.twitter-timeline
{
    width: 75%;
}

#answerBox
{
    margin: 0 auto;
}

#answerBox form
{

}

#answerBox button
{
    background-color: #f2f2f2;
    color: #263d5c;
}

#huntBox
{
    background-color:#263d5c;
    border-radius: 5px;
    color: #f2f2f2;

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#huntBox a
{
    color: #bfbfbf;
}

#hunt-list
{
    background-color:#263d5c;
    border-radius: 10px;
    color: #f2f2f2;
    
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

#hunt-list button
{
    background-color: #263d5c;
    color: #f2f2f2;
}

#hunt-list li
{
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

#navbar
{
    border-bottom: 2px solid #263d5c;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    
    left: 0;
    right: 0;
    top: 0;
}

#skipBox
{
    margin-top: 5%;
}

#skipBox button
{
    background-color: #f2f2f2;
    color: #263d5c;
}

#teamPic
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
}