body
{
    background-color: #cccccc;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.button
{
    background-color: #ff9900;
    border: none;
    color: #000000;
    font-size: 15px;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.button:hover
{
    background-color: #cccccc;
}

.content-black
{
    background-color: #000000;
    color: #cccccc;  
}

.content-center
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.footer
{
    background-color: #a6a6a6;
    border-top: solid #4d4d4d;
    color: #4d4d4d;
    padding-bottom: 2%;
    padding-top: 5px;
}

/*DO NOT FORGET TO REMOVE BACKGROUND COLOR*/
.footer1
{
    background-color: red;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 75%;
}

.footer2
{
    background-color: green;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 75%;
}

.justify
{
    text-align: justify;
}