a
{
    color: #263d5c;
    text-decoration: none;
}

body
{
    background-color: #f2f2f2;
    color: #263d5c;
	font-family: 'Poppins', sans-serif;
    font-kerning: none;
    margin: 0px;
    padding: 0px;
}

button
{
    border: 2px solid #263d5c;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
}

.button-25
{
    width: 25%;
}

.button-blue
{
    background-color: #263d5c;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #f2f2f2;
    margin-bottom: 7px;
    margin-top: 4px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    transition-duration: 0.4s;
}

.button-blue_hover {
    background-color: white;
    color: black;
    border: 2px solid #263d5c;
}

.button-blue_hover:hover {
    background-color: #263d5c;
    color: white;
}

.content
{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 75%;
}

.content-center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.content-left
{
    text-align: left;
}

.content-right
{
    text-align: right;
}

.footer-bottom
{
    background-color: #263d5c;
    color: #f2f2f2;
    padding: 10px;
}

.footer-top
{
    background-color: #bfbfbf;
    color: #4c4f4c;
    display: grid;
    font-size: 12px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.footer-top-left
{
    
}

.footer-top-right
{
    text-align: right;
}

.glue-bottom
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.headline
{
    text-align: center;
}

.leaderboard
{
    margin-top: 5%;
}

.leaderboard-row:nth-child(odd)
{
    background-color: #cdcdcd;
}

.li-TH
{
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #263d5c;
    list-style-type: none;
}

.meeting-att
{
    display: inline-block;
    width: 35%;
}

.navbar-button
{
    padding: 5px;
    padding-top: 10px;
    text-align: center;
}

.navbar-home
{
    background-color: #f2f2f2;

    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    color: #263d5c;
    width: 25%;
}

.navbar-link
{
    color:#f2f2f2;
    width: 25%;
}

.notes-list
{
    margin-top: 7px;
}

.register-form
{
    background-color: #263d5c;
    border: 2px solid #000000;
    border-radius: 7px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 70%;
}

.register-button
{
    margin-top: 5px;
    width: 100%;
}

.register-input
{
    border: 2px solid #263d5c;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 97%;
}

.section
{   
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding-bottom: 10px;
    padding-top: 5px;
}

.section-dark
{
    background-color: #263d5c;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 5px;
}

.top-row-left
{
    border-top-left-radius: 7px;
}

.top-row-right
{
    border-top-right-radius: 7px;
}

.twitter-timeline
{
    width: 70%;
}

#answerBox
{
    margin: 0 auto;
}

#answerBox form
{

}

#answerBox button
{
    background-color: #f2f2f2;
    color: #263d5c;
}

#huntBox
{
    background-color:#263d5c;
    border-radius: 5px;
    color: #f2f2f2;

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#huntBox a
{
    color: #bfbfbf;
}

#hunt-list
{
    background-color:#263d5c;
    border-radius: 10px;
    color: #f2f2f2;
    
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

#hunt-list button
{
    background-color: #263d5c;
    color: #f2f2f2;
}

#hunt-list li
{
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;

    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

#leaderboard-head
{
    background-color: #263d5c;
    color: #f2f2f2;
    height: 30px;
    text-align: center;
}

#leaderboard-table
{
    border: 1px solid #263d5c;
    border-collapse: collapse;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#leaderboard-table td
{
    border: 1px solid #263d5c;
}

#navbar
{
    background-color: #263d5c;
    color: #f2f2f2;

    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    
    left: 0;
    right: 0;
    top: 0;
}

#skipBox
{
    margin-top: 5%;
}

#skipBox button
{
    background-color: #f2f2f2;
    color: #263d5c;
}

#teamPic
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
}


/*=============== TESTING PAGE ==================*/


.TestTemplate {
    margin: auto;
    width: 45%;
    padding: 25px;

}

.NielsensAssessmentAndUAT {

    text-align: center;
    font-family: Georgia, serif;
    border-style: wave;
    border-color: #263d5c;
}

.NielsensContent {
    margin: auto;
    width: 50%;
    font-family: Georgia, serif;
}

.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #263d5c;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: center;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .table-row {
        font-size: 11px;
    }

}


